*~
\#*
.\#*
*.swp
.DS_Store

# VS Directories #
bin/
obj/
TestResults/
GeneratedFiles/
Debug/
Release/
ipch/

# Compiled stuff #
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.ilk

# Visual Studio Project stuff #
*.suo
*.sdf
*.opensdf
*.user
*.filters
*.aps

# Music Files #
*.wav
*.ogg
*.mp3
*.flac
*.aif
*.aiff
