*~
\#*
.\#*
*.swp
.DS_Store
*.orig

# VS Directories #
bin/
obj/
TestResults/
GeneratedFiles/
Debug/
Release/
ipch/
!3rdParty/Debug
!3rdParty/Release

# Compiled stuff #
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.ilk
*.idb
*.lib
*.exp
!3rdParty/*/libvorbis.*
!3rdParty/*/libvorbisfile.*
!3rdParty/*/libogg.*


# Visual Studio Project stuff #
*.suo
*.sdf
*.opensdf
*.user
*.filters
*.aps

# Music Files #
*.wav
*.ogg
*.mp3
*.flac
*.aif
*.aiff
*.oga

# Image Files #
*.png
*.jpg
